<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560395765044-i099da5b34se08eoomc80fueja59cjoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560395765044-i099da5b34se08eoomc80fueja59cjoq</string>
	<key>API_KEY</key>
	<string>AIzaSyCxkXW2QyIihInMeK11tv7BMBTaPUzncKs</string>
	<key>GCM_SENDER_ID</key>
	<string>560395765044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Landmarkapp.test</string>
	<key>PROJECT_ID</key>
	<string>smoke-spots-845c5</string>
	<key>STORAGE_BUCKET</key>
	<string>smoke-spots-845c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560395765044:ios:e5def472004f4f141d1161</string>
</dict>
</plist>